---
title: C.V.
root: true
---
<h1>Curriculum Vitae</h1>

{{#markdown}}
I made my CV using LaTeX.
Get a PDF [here][cv] and see the source on [GitHub][source].

[cv]: http://nathanrosspowell.com/cv.pdf "CV for Nathan Ross Powell"
[source]: https://github.com/nathanrosspowell/cv "LaTeX source for CV" 
{{/markdown}}
