---
title: C.V.
root: true
mediabar:
- { "type":"image", "src":"jpg/cv-page-001.jpg", "title":"Page 1" }
- { "type":"image", "src":"jpg/cv-page-002.jpg", "title":"Page 2" }
- { "type":"image", "src":"jpg/cv-page-003.jpg", "title":"Page 3" }
---
<h1>Curriculum Vitae</h1>

{{#markdown}}
I made my CV using LaTeX.
Get a PDF [here][cv] and see the source on [GitHub][source].

[cv]: http://nathanrosspowell.com/cv.pdf "CV for Nathan Ross Powell"
[source]: https://github.com/nathanrosspowell/cv "LaTeX source for CV" 
{{/markdown}}

{{> media-carousel }}