---
title: Home
root: true
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <h3> TEST </h3>
</div>
  <p>This is a Assemble Generator template using</p>