---
title: Home
root: true
heading: 'Welcome!'
lead: Welcome to my website!
intro: 'src/content/index-jumbotron.md'
content: 'src/content/index-body.md'
---
<div class="jumbotron">
  <h1>{{ heading }}</h1>
  <p>
     {{{ md intro }}}
  </p>
</div>
<p>
    {{{ md content }}}
</p>
