---
title: "Keyboard Collection"
posted: 2015/07/26 20:05
blog: true
published: true
tagline: My current hobby, customizing keyboards
intro: src/content/blog-2015-07-26-keyboard-collection-intro.md
kul:
    mediatitle: KUL ES-87
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/nh1Zl41.jpg", "title":"Fitted to the case" }
        - { "type":"ext-image", "src":"http://i.imgur.com/nh1Zl41.jpg", "title":"Fitted to the case" }
infinity:
    mediatitle: MassDrop Infinity Build Log
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/btSFfVr.jpg", "title":"The plate" }
        - { "type":"ext-image", "src":"http://i.imgur.com/4HkxTZX.jpg", "title":"Full of switches" }
        - { "type":"ext-image", "src":"http://i.imgur.com/EHXaEcW.jpg", "title":"PCB ready to be soldered" }
        - { "type":"ext-image", "src":"http://i.imgur.com/9DPW6Ig.jpg", "title":"Solder job" }
        - { "type":"ext-image", "src":"http://i.imgur.com/nh1Zl41.jpg", "title":"Fitted to the case" }
        - { "type":"ext-image", "src":"http://i.imgur.com/r70dFxz.jpg", "title":"Plane granite" }
        - { "type":"ext-image", "src":"http://i.imgur.com/3Nfw1n2.jpg", "title":"RGB mods" }
        - { "type":"ext-image", "src":"http://i.imgur.com/5A9PxSE.jpg", "title":"Summer Grainte" }
        - { "type":"ext-image", "src":"http://i.imgur.com/Snkbb4J.jpg", "title":"KappaKaps novelty keys" }
hhkb:
    mediatitle: Happy Hacking Keyboard Pro 2
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/Snkbb4J.jpg", "title":"KappaKaps novelty keys" }
        - { "type":"ext-image", "src":"http://i.imgur.com/Snkbb4J.jpg", "title":"KappaKaps novelty keys" }
planck:
    mediatitle: Ortholinear Keyboards Planck (Grid layout)
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/5A9PxSE.jpg", "title":"Summer Grainte" }
        - { "type":"ext-image", "src":"http://i.imgur.com/5A9PxSE.jpg", "title":"Summer Grainte" }
---

{{#markdown}}

The Collection
==============


Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.



Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.
Blahhh blahhh.



KUL ES-87
=========

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PCB</td>
            <td>MassDrop Infinty PCD revision 2</td>
        </tr>
    </tbody>
</table>

{{> media-carousel kul }}

{{#markdown}}

MassDrop Infinity
=================

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PCB</td>
            <td>MassDrop Infinty PCD revision 2</td>
        </tr>
        <tr>
            <td>Case</td>
            <td>TEX 60% CNC'd silve aluminium case</td>
        </tr>
        <tr>
            <td>Switches - Alphas</td>
            <td>62g lubed Cherry MX Clear w/ clear switch tops</td>
        </tr>
        <tr>
            <td>Switches - Modifiers</td>
            <td>62g lubed Gateron Clear w/ clear switch tops</td>
        </tr>
        <tr>
            <td>Keycap</td>
            <td>Grante DSA PBT</td>
        </tr>
        <tr>
            <td>Novelty Keycaps</td>
            <td>KappaKaps 'Undead Clackin' summer trio</td>
        </tr>
    </tbody>
</table>

{{> media-carousel infinity }}


{{#markdown}}

PFU HHKB Pro2
=========

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PCB</td>
            <td>MassDrop Infinty PCD revision 2</td>
        </tr>
    </tbody>
</table>

{{> media-carousel hhkb }}


{{#markdown}}

Planck
======

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>PCB</td>
            <td>MassDrop Infinty PCD revision 2</td>
        </tr>
    </tbody>
</table>

{{> media-carousel planck }}
