---
title: "Keyboard Collection"
posted: 2015/07/26 20:05
blog: true
published: true
tagline: My current hobby, customizing keyboards
intro: src/content/blog-2015-07-26-keyboard-collection-intro.md
kul:
    mediatitle: KUL ES-87
    medianame: kul
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/yaIM3lh.jpg", "title":"Dolch & Retro DSA" }
        - { "type":"ext-image", "src":"http://i.imgur.com/mYIad7d.jpg", "title":"Uniform profile keys" }
        - { "type":"ext-image", "src":"http://i.imgur.com/hjSwqTQ.jpg", "title":"Brobot V2 cap by Brocaps" }
infinity:
    mediatitle: MassDrop Infinity Build Log
    medianame: infinity 
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/btSFfVr.jpg", "title":"The plate" }
        - { "type":"ext-image", "src":"http://i.imgur.com/4HkxTZX.jpg", "title":"Full of switches" }
        - { "type":"ext-image", "src":"http://i.imgur.com/EHXaEcW.jpg", "title":"PCB ready to be soldered" }
        - { "type":"ext-image", "src":"http://i.imgur.com/9DPW6Ig.jpg", "title":"Solder job" }
        - { "type":"ext-image", "src":"http://i.imgur.com/nh1Zl41.jpg", "title":"Fitted to the case" }
        - { "type":"ext-image", "src":"http://i.imgur.com/r70dFxz.jpg", "title":"Plain Granite" }
        - { "type":"ext-image", "src":"http://i.imgur.com/3Nfw1n2.jpg", "title":"RGB mods" }
        - { "type":"ext-image", "src":"http://i.imgur.com/5A9PxSE.jpg", "title":"Summer Grainte" }
        - { "type":"ext-image", "src":"http://i.imgur.com/Snkbb4J.jpg", "title":"KappaKaps novelty keys" }
hhkb:
    mediatitle: Happy Hacking Keyboard Pro 2
    medianame: hhkb 
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/Idzai0u.jpg", "title":"HHKB Professional 2" }
        - { "type":"ext-image", "src":"http://i.imgur.com/QRD5nZb.jpg", "title":"Brocaps function key" }
        - { "type":"ext-image", "src":"http://i.imgur.com/uzaoxsA.jpg", "title":"Brocaps escape key" }
        - { "type":"ext-image", "src":"http://i.imgur.com/xlCtNUT.jpg", "title":"Brocaps Brobot key" }
        - { "type":"ext-image", "src":"http://i.imgur.com/KgKNckg.jpg", "title":"Hasu Bluetooth replacement controller board" }
        - { "type":"ext-image", "src":"http://i.imgur.com/P0W0dQl.jpg", "title":"USB hub makes way for on/off and flashing firmware" }
planck:
    mediatitle: Ortholinear Keyboards Planck (Grid layout)
    medianame: planck 
    mediabar:
        - { "type":"ext-image", "src":"http://i.imgur.com/YfR8fXj.jpg", "title":"Planck by Ortholinear Keyboards" }
        - { "type":"ext-image", "src":"http://i.imgur.com/BjPKJnj.jpg", "title":"Wiring up the board" }
        - { "type":"ext-image", "src":"http://i.imgur.com/Hm14CXC.jpg", "title":"Final matrix wiring" }
        - { "type":"ext-image", "src":"http://i.imgur.com/dghdlvu.jpg", "title":"Teensy usb controller" }
        - { "type":"ext-image", "src":"http://i.imgur.com/bB0g4Yf.jpg", "title":"Cherry MX Clear switches" }
---

{{#markdown}}

The Collection
==============

Currently I have four keyboards, all have been heavily modified or are at least 'not stock'.
This sounds like madness... and apart from them costing more than most people expect, it's a pretty tame hobby.


Why more than one?
------------------

So the easiest parrallel I can draw to keyboards, with regards to having a collection, are shoes.
People will have a wide varienty of shoes these days - some are specific for running, some for basketball, some just to look good.
The fashionable shoes don't have any tangeable benifit over other shoes other than they look better.

Keyboards are the same.
You can buy keyboards which excel in different areas - gaming, typing speed, ergonomic comfort, vintage, etc.
Ontop of that you can go all out an modify the looks to your own preferences and tastes. 

Unlike shoes, we are used to having one keyboard (normally attached to the laptop or free with the PC) and never having any problems with it.
If it isn't broke, don't fix it, right?
When we reach this line, it is something that is ubiquitous across all hobbies: once you get a taste for the sweeter side of life, there is no going back.

*You walk down the street with your iPhone headphone on, life is going great!
One of your friends wants to show you her new headphones that look all fancy.
You try, they sounds great, but for $100... pffff.
You go back to your iPhone headphones and now it feels like someone clogged your ears with cotton wool.*

{{/markdown}}

<img class="blog" src="http://i.imgur.com/7jVstav.jpg"></img>

{{#markdown}}


Favourite switch?
-----------------


Upcoming projects?
-----------------




Without any more small talk, here are some specs and picture of all of the boards!



Planck
======

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Size Class</td>
            <td>40% (~40 keys)</td>
        </tr>
        <tr>
            <td>PCB</td>
            <td>Teensy 2.0</td>
        </tr>
        <tr>
            <td>Plate</td>
            <td>Planck grid layout</td>
        </tr>
        <tr>
            <td>Case</td>
            <td>Planck formed bottom</td>
        </tr>
        <tr>
            <td>Switches</td>
            <td>Cherry MX Clear (stock)</td>
        </tr>
        <tr>
            <td>Keycaps</td>
            <td>Grante DSA PBT</td>
        </tr>
    </tbody>
</table>

{{> media-carousel planck }}

{{#markdown}}

PFU HHKB Pro2
=========

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Size Class</td>
            <td>60% (~60 keys)</td>
        </tr>
        <tr>
            <td>PCB mod</td>
            <td>Hasu Bluetooth controller board</td>
        </tr>
        <tr>
            <td>Switches</td>
            <td>45g Topre capacitive cup rubber</td>
        </tr>
        <tr>
            <td>Keycaps</td>
            <td>Blank PBT</td>
        </tr>
        <tr>
            <td>Novelty Keycaps</td>
            <td>Brocaps Brobot V2, Escape and Function</td>
        </tr>
    </tbody>
</table>

{{> media-carousel hhkb }}

{{#markdown}}

MassDrop Infinity
=================

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Size Class</td>
            <td>60% (~60 keys)</td>
        </tr>
        <tr>
            <td>PCB</td>
            <td>MassDrop Infinty PCD revision 2</td>
        </tr>
        <tr>
            <td>Case</td>
            <td>TEX 60% CNC'd silve aluminium case</td>
        </tr>
        <tr>
            <td>Switches - Alphas</td>
            <td>62g lubed Cherry MX Clear w/ clear switch tops</td>
        </tr>
        <tr>
            <td>Switches - Modifiers</td>
            <td>62g lubed Gateron Clear w/ clear switch tops</td>
        </tr>
        <tr>
            <td>Keycaps</td>
            <td>Grante DSA PBT</td>
        </tr>
        <tr>
            <td>Novelty Keycaps</td>
            <td>KappaKaps 'Undead Clackin' summer trio</td>
        </tr>
    </tbody>
</table>

{{> media-carousel infinity }}

{{#markdown}}

KUL ES-87
=========

{{/markdown}}

<table class="table">
    <thead>
        <tr>
            <th>Part</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Size Class</td>
            <td>TLK a.k.a Ten Key-less (normal size but without the number pad)</td>
        </tr>
        <tr>
            <td>Board</td>
            <td>KUL ES-87</td>
        </tr>
        <tr>
            <td>Switches</td>
            <td>Cherry MX Clear (stock)</td>
        </tr>
        <tr>
            <td>Keycaps</td>
            <td>Dolch DSA ABS</td>
        </tr>
        <tr>
            <td>Extra Keycaps</td>
            <td>Retro DSA ABS (the green ones)</td>
        </tr>
        <tr>
            <td>Novelty Keycaps</td>
            <td>Brocaps Brobot V2</td>
        </tr>
    </tbody>
</table>

{{> media-carousel kul }}
