{% assign prev = nil %}
{% assign next = nil %}

{% for item in collection %}
  {% if item.title == page.title %}
    {% unless forloop.first %}
      {% assign prev = iterator %}
    {% endunless %}

    {% unless forloop.last %}
      {% assign next = collection[forloop.index] %}
    {% endunless %}
  {% endif %}

  {% assign iterator = item %}
{% endfor %}

<hr />

<div class="container">
  <div class="example-grid docs-example">
    <div class="row">
      {% if prev %}
        <div class="six columns">
            <a class="prev" href="{{prev.url}}">&laquo; {{prev.title}}</a>
        </div>
      {% endif %}
      {% if next.url %}
        <div class="six columns">
          <a class="next" href="{{next.url}}">{{next.title}} &raquo;</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
