<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
   <title>{{ page.title }} | {{ site.website }}</title>
   <meta name="description" content="Personal Webpage">
   <meta name="author" content="{{ site.author }}" />
   <link href="http://feeds.feedburner.com/{{ site.handle }}" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!----link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"-->

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/pygments.css">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">


    <!-- Captcha
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
        var onContctUsSubmit = function () {
            $(document).ready(function () {
                $(".thanks").hide();
                $(".sending").hide();
                $(".errors").hide();
                if ($("#contact-us-form input[name='name']").val() === "" ||
                    $("#contact-us-form input[name='email']").val() === "") {
                    $(".errors").show();
                    $("#contact-us-form button").show();
                } else {
                    $(".errors").hide();
                    $.post($("#contact-us-form").attr('action'), JSON.stringify({
                        name: $("#contact-us-form input[name='name']").val(),
                        email: $("#contact-us-form input[name='email']").val(),
                        phone: $("#contact-us-form input[name='phone']").val(),
                        message: $("#contact-us-form textarea[name='message']").val(),
                        'g-recaptcha-response': $("#contact-us-form textarea[name='g-recaptcha-response']").val()
                    }), function (data) {
                        $(".thanks").show();
                        $("#contact-us-form button").hide();
                        $("#contact-us-form input[name='name']").val('');
                        $("#contact-us-form input[name='email']").val('');
                        $("#contact-us-form input[name='phone']").val('');
                        $("#contact-us-form textarea[name='message']").val('');
                    }, 'json');
                }
            });
        };
    $(document).ready(function () {
            $("#contact-us-form button").click(function(event) {
                $(".sending").show();
                $("#contact-us-form button").hide();
            });
        });
    </script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="six column" style="margin-top: 25%">
        <h3><a href="https://nathanrosspowell.com">nathanrosspowell.com</a></h3>