/*
 * #DCDCCC;//text
 *
 * #3F3F3F;//background
 * rgba(63,63,63,.85);//background75
 *
 * #80D4AA;//highlight
 *
 * whitesmoke;//nvbrtext
 */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 100px;
    padding-bottom: 30px;
    color: #DCDCCC;
    background: #3F3F3F;
    margin-bottom: 40px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a {
    color: #80D4AA;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#nav-background {
    position: fixed;
    width: 100%;
    height: 180px;
    top: -100px;
    background: rgba(63,63,63,.85);
    z-index: 1009;
}

.navbar {
    margin-top:30px;
    border-bottom: 3px solid #80D4AA;
    font-size: 120%;
    z-index: 1010;
}

div.navbar-header > button {
    background: whitesmoke;
}

.navbar-toggle .icon-bar {
    background-color: black;
    color: whitesmoke;
    color: #3F3F3F;
}

#navbar-profile-img {
    margin-top:-40px;
    border: 3px solid #80D4AA;
}

.navbar ul li > a {
    color: #a9a9a9;
    background-color: transparent;
    padding-bottom: 5px;
}

.navbar li > a:hover,
.navbar li > a:focus {
    background-color: transparent;
    border-bottom: 3px solid;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}

.navbar .active > a,
.navbar .active > a:hover,
.navbar .active > a:focus {
    background-color: transparent;
    color: whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

.navbar .dropdown, .navbar .dropdown-menu {
    color: whitesmoke;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #3F3F3F;
    border-color: #333333;
}

ul.nav.navbar-nav.navbar-right > li > ul {
    background: #3F3F3F;
}

ul.nav.navbar-nav.navbar-right > li > ul > li > a:hover,
ul.nav.navbar-nav.navbar-right > li > ul > li > a:focus {
    color: black;
    border: none;
    background: #333333;
}

/* standard navbar */
@media (min-width: 768px) {
    #nav-background {
        background: rgba(63,63,63,.85);
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    .navbar {
        background: #3F3F3F;
        text-align: right;
    }
    #nav-background {
        background: #3F3F3F;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.jumbotron {
    color: #DCDCCC;
    background: #333333;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.well,
.panel {
    color: #DCDCCC;
    background: #3F3F3F;
    border-color: #333333;
}

div.panel.panel-default > div.panel-heading,
.panel-heading {
    color: #DCDCCC;
    background: #333333;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #333333;
}
