/*
 * #DCDCCC;//text
 *
 * #3F3F3F;//background
 * rgba(63,63,63,.85);//background75
 *
 * #80D4AA;//highlight
 *
 * whitesmoke;//nvbrtext
 *
 * #80D4AA;//Primary
 * #8FAF9F;//Primary
 */


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 100px;
    padding-bottom: 30px;
    color: #DCDCCC;
    background: #3F3F3F;
}

/* standard navbar */
@media (min-width: 768px) {
    body {
        margin-bottom: 100px;
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    body {
        margin-bottom: 180px;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
a {
    color: #80D4AA;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#nav-background {
    position: fixed;
    width: 100%;
    height: 180px;
    top: -100px;
    background: rgba(63,63,63,.85);
    z-index: 1009;
}

.navbar {
    margin-top:30px;
    border-bottom: 3px solid #80D4AA;
    font-size: 120%;
    z-index: 1010;
}

div.navbar-header > button {
    background: whitesmoke;
}

.navbar-toggle .icon-bar {
    background-color: black;
    color: whitesmoke;
    color: #3F3F3F;
}

#navbar-profile-img {
    margin-top:-40px;
    border: 3px solid #80D4AA;
}

.navbar ul li > a {
    color: #a9a9a9;
    background-color: transparent;
    padding-bottom: 5px;
}

.navbar li > a:hover,
.navbar li > a:focus {
    background-color: transparent;
    border-bottom: 3px solid;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}

.navbar .active > a,
.navbar .active > a:hover,
.navbar .active > a:focus {
    background-color: transparent;
    color: whitesmoke;
    border-bottom: 3px solid whitesmoke;
}

.navbar .dropdown, .navbar .dropdown-menu {
    color: whitesmoke;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: #3F3F3F;
    border-color: #333333;
}

ul.nav.navbar-nav.navbar-right > li > ul {
    background: #3F3F3F;
}

ul.nav.navbar-nav.navbar-right > li > ul > li > a:hover,
ul.nav.navbar-nav.navbar-right > li > ul > li > a:focus {
    color: black;
    border: none;
    background: #333333;
}

/* standard navbar */
@media (min-width: 768px) {
    #nav-background {
        background: rgba(63,63,63,.85);
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    .navbar {
        background: #3F3F3F;
        text-align: right;
    }
    #nav-background {
        background: #3F3F3F;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.jumbotron {
    color: #DCDCCC;
    background: #333333;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.well,
.panel {
    color: #DCDCCC;
    background: #3F3F3F;
    border-color: #333333;
}

div.panel.panel-default > div.panel-heading,
.panel-heading {
    color: #DCDCCC;
    background: #333333;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333333;
}


/* standard navbar */
@media (min-width: 768px) {
    .footer {
        height: 100px;
    }
}

/* mobile navbar */
@media (max-width: 767px) {
    .footer {
        height: 180px;
    }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// http://coolestguidesontheplanet.com/creating-social-media-menu-icons-fontawesome/ 
.social-container {
    text-align: center;
}

.social-links {
    display: inline-block;
}

.social-links > li {
    list-style-type: none;
    float: left;
}

i.social.fa {
    background: #80D4AA;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

i.social.fa:hover {
    opacity: .7;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn-custom { 
  color: #333333;
  background-color: #80D4AA; 
  border-color: #608A76; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #333333;
  background-color: #87E6B7; 
  border-color: #608A76; 
} 
 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  background-image: none; 
} 
 
.btn-custom.disabled, 
.btn-custom[disabled], 
fieldset[disabled] .btn-custom, 
.btn-custom.disabled:hover, 
.btn-custom[disabled]:hover, 
fieldset[disabled] .btn-custom:hover, 
.btn-custom.disabled:focus, 
.btn-custom[disabled]:focus, 
fieldset[disabled] .btn-custom:focus, 
.btn-custom.disabled:active, 
.btn-custom[disabled]:active, 
fieldset[disabled] .btn-custom:active, 
.btn-custom.disabled.active, 
.btn-custom[disabled].active, 
fieldset[disabled] .btn-custom.active { 
  background-color: #80D4AA; 
  border-color: #608A76; 
} 
 
.btn-custom .badge { 
  color: #80D4AA; 
  background-color: #ffffff; 
}
