{{> default-header }}

{{> navbar-fixed-top }}

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <h3>{{ posted }}</h3>
        <p>{{ intro }}</p>
    </div>
  
    {{> body }}
  
</div>

{{> default-footer }}

 
