{{> default-header }}

{{> navbar-fixed-top }}

<div class="container theme-showcase" role="main">

    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <h6>Posted: {{ posted }}</h6>
        {{#if tagline }}
            {{ tagline }}
        {{/if}}
    </div>

    {{> body }}

</div>

{{> default-footer }}

 
